<section class="tg-haslayout tg-sectionspace tg-bgaddtocalendar">
    <div class="container">
      <div class="tg-eventinfo tg-eventinfovtwo">
        <div class="tg-eventcontent">
          <span></span>
          <h2>Agrégalo a tu calendario y no lo olvides</h2>
          <a class="tg-btnaddtocalendar" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text=Google+Day+XELA&dates=20180817T150000Z/20180818T040000Z&details=Para+detalles,+visita:+http://www.gdayxela.tecnoagenda.com&location=Centro+Intercultural,+21+Avenida,+Quezaltenango,+Guatemala&sf=true&output=xml"><i class="icon-calendar-full"></i></a>
        </div>
      </div>
    </div>
  </section>