<section class="tg-sectionspace tg-haslayout tg-bgtestimonials">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="tg-testimonials">
            <div id="tg-testimonialslider" class="tg-testimonialslider tg-testimonial owl-carousel fadeIn">
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Google I/O Extended 2018, Guatemala</span>
                  <blockquote><q>“Pues primero que todo muchas gracias por el evento.
                    Y pues estuvo muy bien estructurado gracias por cada conferencia que se dio.
                    Y pues siempre hay contratiempos pero es lo normal.
                    Pues muchas gracias por todo.
                    Muy buena experiencia.”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Google I/O Extended 2018, Guatemala</span>
                  <blockquote><q>“Es bueno que hagan estos eventos aquí en Guatemala, ya que nos ayuda a 
                    informarnos sobre cosas que no sabias, y esos nos ayuda a capacitarnos un poco más. Fue un gran Evento, Felicidades”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Google I/O Extended 2018, Guatemala</span>
                  <blockquote><q>“Me gusto mucho el evento y me gustaría seguir aprendiendo más sobre los 
                    temas que se trataron en el i/o y sobre la comunidad Google”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>