<section class="tg-sectionspace tg-haslayout tg-bgtestimonials">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="tg-testimonials">
            <div id="tg-testimonialslider" class="tg-testimonialslider tg-testimonial owl-carousel fadeIn">
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Jhon doe, Attendee</span>
                  <blockquote><q>“The best decision ever made for grand event on self grooming in california.”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Jhon doe, Attendee</span>
                  <blockquote><q>“The best decision ever made for grand event on self grooming in california.”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
              <div class="item">
                <div class="tg-testimonialcontent">
                  <span class="tg-clientname">Jhon doe, Attendee</span>
                  <blockquote><q>“The best decision ever made for grand event on self grooming in california.”</q></blockquote>
                  <img src="assets/images/quotes.png" alt="image description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>