<section id="tg-price" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>We guarantee best price</span>
              <h2>Affordable event packages</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamcoaris nisi ut aliquipa ex ea commodo consequat aute irure.</p>
            </div>
          </div>
        </div>
        <div class="tg-packages">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-package tg-basicplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                  <img src="assets/images/packages/img-01.jpg" alt="image description">
                  <figcaption class="tg-packagedetail">
                    <h3>Basic</h3>
                    <span>30 day free trial</span>
                    <h4>
                      <sub>$</sub>
                      <span>15</span>
                      <em>per month</em>
                    </h4>
                    <div class="tg-stars"><span></span></div>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li class="tg-btnregister"><a class="tg-btn" href="#">Register Now</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-package tg-corporateplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                  <img src="assets/images/packages/img-02.jpg" alt="image description">
                  <figcaption class="tg-packagedetail">
                    <h3>Basic</h3>
                    <span>30 day free trial</span>
                    <h4>
                      <sub>$</sub>
                      <span>25</span>
                      <em>per month</em>
                    </h4>
                    <div class="tg-stars"><span></span></div>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li class="tg-btnregister"><a class="tg-btn" href="#">Register Now</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-package tg-businessplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                  <img src="assets/images/packages/img-03.jpg" alt="image description">
                  <figcaption class="tg-packagedetail">
                    <h3>Basic</h3>
                    <span>30 day free trial</span>
                    <h4>
                      <sub>$</sub>
                      <span>60</span>
                      <em>per month</em>
                    </h4>
                    <div class="tg-stars"><span></span></div>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li class="tg-btnregister"><a class="tg-btn" href="#">Register Now</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="tg-package tg-companyplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                  <img src="assets/images/packages/img-04.jpg" alt="image description">
                  <figcaption class="tg-packagedetail">
                    <h3>Basic</h3>
                    <span>30 day free trial</span>
                    <h4>
                      <sub>$</sub>
                      <span>90</span>
                      <em>per month</em>
                    </h4>
                    <div class="tg-stars"><span></span></div>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li class="tg-btnregister"><a class="tg-btn" href="#">Register Now</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>