<section id="tg-price" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>El mejor precio para aprender:</span>
              <h2>Precios para todos</h2>
            </div>
            <div class="tg-description">
              <p></p>
            </div>
          </div>
        </div>
        <div class="tg-packages">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-package tg-basicplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                  <div style="height: 236px; width: 270px; background-color: #f7f7f7f7;"></div>
                  <figcaption class="tg-packagedetail">
                    <h3>Estudiantes Diversificado</h3>
                    <h4>
                      <sub>Q</sub>
                      <span>15</span>
                      <em>Presentar Carnet</em>
                    </h4>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <!--<li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>-->
                <li class="tg-btnregister"><a class="tg-btn" href="#">Comprar ahora</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-package tg-corporateplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                    <div style="height: 236px; width: 270px; background-color: #f7f7f7f7;"></div>
                  <figcaption class="tg-packagedetail">
                    <h3>Estudiante Universitario</h3>
                    <h4>
                      <sub>Q</sub>
                      <span>25</span>
                      <em>Presentar Carnet</em>
                    </h4>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <!--<li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>-->
                <li class="tg-btnregister"><a class="tg-btn" href="#">Comprar ahora</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="tg-package tg-businessplan">
              <div class="tg-packagehead">
                <figure class="tg-themepostimg">
                    <div style="height: 236px; width: 270px; background-color: #f7f7f7f7;"></div>
                  <figcaption class="tg-packagedetail">
                    <h3>General</h3>
                    <h4>
                      <sub>Q</sub>
                      <span>50</span>
                    </h4>
                  </figcaption>
                </figure>
              </div>
              <ul>
                <!--<li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-close"></i><span>Consectetur adipisicing</span></li>
                <li><i class="fa fa-check"></i><span>Consectetur adipisicing</span></li>-->
                <li class="tg-btnregister"><a class="tg-btn" href="#">Comprar ahora</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>