<div id="tg-homebanner" class="tg-homebannervtwo tg-haslayout">
    <figure class="tg-themepostimg">
      <img src="assets/images/banner/img-01.jpg" alt="image description">
      <figcaption>
        <div class="container">
          <div class="tg-bannercontent">
            <span class="tg-datetime">Agosto 17, 2018 @ 09 - 22</span>
            <h1>Si lo puedes soñar,<span> puedes crearlo</span></h1>
            <div id="tg-upcomingeventcountervtwo" class="tg-upcomingeventcounter"></div>
            <div class="tg-btnwhite">
              <a class="tg-btn" href="#">Registrate</a>
              <a class="tg-btn" href="#">Programa</a>
            </div>
          </div>
        </div>
      </figcaption>
    </figure>
  </div>