<section id="tg-sponsers" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
          <div class="tg-sectionhead">
            <div class="tg-sectionheading">
              <span>Juntos somos mejores</span>
              <h2>Nuestros patrocinadores y organizadores</h2>
            </div>
            <div class="tg-description">
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tg-brands">
            <li class="tg-brand" *ngFor="let sponsor of sponsors | async">
              <figure>
                <a href="{{ sponsor.url }}" target="_blank">
                  <img src="{{ sponsor.imagen }}" alt="{{ sponsor.nombre }}">
                </a>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>