<section id="tg-venue" class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-eventvenueregistration">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tg-headholder">
              <div class="tg-sectionhead tg-textalignleft">
                <div class="tg-sectionheading">
                  <span>Come first &amp; get early bird discount</span>
                  <h2>Event venu &amp; registration</h2>
                </div>
                <div class="tg-description">
                  <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim minim veniam quista nostrud exion ullaoaris nisi ut aliquipa ex ea commodo consequat aute.</p>
                </div>
                <div class="tg-shareinvite">
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                  <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                </ul>
                <span>OH, Please don’t forget to invite<em>your friends too!</em></span>
              </div>
              </div>
            </div>
            <div class="tg-locationregister no-gutters">
              <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="tg-register">
                  <div class="tg-registerholder">
                    <div class="tg-registercontent">
                      <div class="tg-heading">
                        <h2>Register early<span>before its too late.</span></h2>
                      </div>
                      <form class="tg-formtheme tg-formregister">
                        <fieldset>
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Full Name*">
                          </div>
                          <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email*">
                          </div>
                          <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone (Optional)">
                          </div>
                          <div class="form-group">
                            <span class="tg-select">
                              <select>
                                <option>Slect Your Price Plan*</option>
                                <option>Slect Your Price Plan*</option>
                                <option>Slect Your Price Plan*</option>
                                <option>Slect Your Price Plan*</option>
                              </select>
                            </span>
                          </div>
                          <button type="submit" class="tg-btn">Register Now</button>
                        </fieldset>
                      </form>
                      <div class="tg-sendquery">
                        <h2>Send your query / complaint @</h2>
                        <h3>0800 - 123445 67</h3>
                        <h4>info@domain.com</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>