<section id="tg-venue" class="tg-sectionspace tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="tg-eventvenueregistration">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-headholder">
            <div class="tg-sectionhead tg-textalignleft">
              <div class="tg-sectionheading">
                <span>Llega primero y consigue el mejor lugar</span>
                <h2>Locación y Registro</h2>
              </div>
              <div class="tg-description">
                  <p>Centro Intercultural, 21 Avenida, Quezaltenango</p>
                </div>
              <!--<div class="tg-shareinvite">
                  <ul class="tg-socialicons">
                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                    <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                  </ul>
                  <span>OH, Please don’t forget to invite<em>your friends too!</em></span>
              </div>-->
            </div>
          </div>
          <div class="tg-locationregister no-gutters">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
              <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
              <div class="tg-register">
                <div class="tg-registerholder">
                  <div class="tg-registercontent">
                    <div class="tg-heading">
                      <h2>Regístrate,
                        <span>queremos conocerte.</span>
                      </h2>
                    </div>
                    <form class="tg-formtheme tg-formregister" #registerForm="ngForm" 
                    (ngSubmit)="addRegistro(email.value, nombre.value, phone.value, ticket.value); 
                    registerForm.reset();" >
                      <fieldset>
                        <div class="form-group" >
                          <input #nombre="ngModel" ngModel required type="text" name="nombre" class="form-control" placeholder="Nombre Completo*">
                        </div>
                        <div class="form-group">
                          <input #email="ngModel" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+" type="email" 
                          name="email" class="form-control" placeholder="Correo Electrónico*">
                        </div>
                        <div class="form-group">
                          <input #phone="ngModel" ngModel type="phone" pattern="[0-9]{8}"
                          name="phone" class="form-control" placeholder="Teléfono (Opcional)">
                        </div>
                        <div class="form-group">
                          <input #ticket="ngModel" ngModel required pattern="[0-9]{4}"
                          type="text" name="ticket" class="form-control" placeholder="Número de Entrada*">
                        </div>
                        <button [disabled]="registerForm.invalid" type="submit" class="tg-btn">Registrar</button>
                        <div class="form-group">
                          <span id="register-done" *ngIf="success" >
                            ¡Bienvenido {{ success }}! Te hemos enviado algo de información.
                          </span>
                          <span id="register-error" *ngIf="error" >
                            La entrada {{ error }} ya la han registrado. Si es un error, comunícate con nosotros.
                          </span>
                        </div>
                      </fieldset>
                    </form>
                    <div class="tg-sendquery">
                      <h2>Comunícate con nosotros:</h2>
                      <h4>info@devslabgt.com</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
