<section class="tg-askquestions tg-haslayout tg-sectionspace tg-bglight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="tg-faqs">
            <div class="tg-sectionhead tg-textalignleft">
              <div class="tg-sectionheading">
                <span>Nunca temas preguntar</span>
                <h2>Preguntas frecuentes</h2>
              </div>
            </div>
            <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
              <div class="tg-panel" *ngFor="let faq of faqs | async" >
                <h4><span>P.</span>{{ faq.pregunta }}</h4>
                <div class="tg-panelcontent">
                  <div class="tg-description">
                    <p><span>R.</span>{{ faq.respuesta }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="tg-askquestion">
            <div class="tg-heading">
              <h2>¿Aún con dudas?<span>¡Pregúntanos!</span></h2>
            </div>
            <form #askForm="ngForm" (ngSubmit)="newQuestion(email.value, nombre.value, phone.value, question.value); askForm.reset();" class="tg-formtheme tg-formaskquestions">
              <fieldset>
                <div class="form-group">
                  <input required type="text" #nombre="ngModel" ngModel name="nombre" class="form-control" placeholder="Nombre completo*">
                </div>
                <div class="form-group">
                  <input pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+"
                  required type="email" #email="ngModel" ngModel name="email" class="form-control" placeholder="Email*">
                </div>
                <div class="form-group">
                  <input type="phone" #phone="ngModel" pattern="[0-9]{8}" ngModel name="phone" class="form-control" placeholder="Teléfono (Optional)">
                </div>
                <div class="form-group">
                  <textarea required #question="ngModel" name="question" ngModel placeholder="Tú pregunta*"></textarea>  
                </div>
                <button [disabled]="askForm.invalid" type="submit" class="tg-btn">Preguntar</button>
                <div class="form-group">
                    <span id="question-sent" *ngIf="uNombre" >
                        ¡Excelente {{ uNombre }}! Te responderemos lo más pronto posible.
                      </span>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>