<section class="tg-sectionspace tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="tg-aboutus">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="tg-textshortcode">
              <div class="tg-sectionhead tg-textalignleft">
                <div class="tg-sectionheading">
                  <span>Bienvenidos</span>
                  <h2>¿Quienes organizan el evento?</h2>
                </div>
                <div class="tg-description">
                  <p>Este evento es organizado es por la comunidad de usuarios Google en Xela, Guatemal, así como por la comunidad de desarrolladores DevsLab con el apoyo de Aplitic, BenchMark, Espacio y Contents.</p>
                </div>
                <div class="tg-btnarea">
                  <a class="tg-btn" href="#tg-venue">Registrate</a>
                  <a class="tg-btn" href="#tg-speakers">Speakers</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="tg-videoarea">
              <figure>
                <img src="assets/images/video-placeholder.jpg" alt="image description">
                <!--<figcaption><a href="https://www.youtube.com/watch?v=FVwoQIBPiHU" class="tg-btnplay" data-rel="prettyPhoto[gallery]"><img src="assets/images/btn-playicon.jpg" alt="image description"></a></figcaption>-->
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>