<div class="tg-sidenavholder">
    <div id="tg-sidenav" class="tg-sidenav">
      <a href="javascript:void(0);" class="tg-close"><i class="icon-cross"></i></a>
      <div id="tg-navscrollbar" class="tg-navscrollbar">
        <div class="tg-navhead">
          <strong class="tg-logo">
            <a href="index.html"><img src="assets/images/logo-white.png" alt="image description"></a>
          </strong>
        </div>
        <nav id="tg-nav" class="tg-nav">
          <div id="tg-sidenavigation" class="tg-navigation">
            <ul>
              <li><a href="#">News</a></li>
              <li><a href="#">News detail</a></li>
              <li><a href="#">Coming soon</a></li>
              <li><a href="#">Downloads</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Accomodation</a></li>
            </ul>
          </div>
        </nav>
        <div class="tg-sidenavbottom">
          <img src="assets/images/icon.png" alt="image description">
          <ul class="tg-socialicons">
            <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
            <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
            <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
            <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
            <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
          </ul>
          <p class="tg-copyrights">2017 All Rights Reserved By<span>© The Event Organizer</span></p>
        </div>
      </div>
    </div>
  </div>